attrs==24.2.0
    # via zeep
babel==2.9.1 ; python_version < "3.11"
    # via -r /home/odoo/odoo-requirements.txt
beautifulsoup4==4.12.3
    # via ofxparse
cached-property==1.5.2
    # via zeep
certifi==2024.8.30
    # via requests
cffi==1.17.0
    # via cryptography
chardet==4.0.0 ; python_version < "3.11"
    # via
    #   -r /home/odoo/odoo-requirements.txt
    #   requests
cryptography==3.4.8 ; python_version < "3.12"
    # via
    #   -r /home/odoo/odoo-requirements.txt
    #   pyopenssl
debugpy==1.8.5
    # via -r /home/odoo/odoo-requirements.txt
decorator==4.4.2 ; python_version < "3.11"
    # via -r /home/odoo/odoo-requirements.txt
docopt==0.6.2
    # via num2words
docutils==0.17 ; python_version < "3.11"
    # via -r /home/odoo/odoo-requirements.txt
ebaysdk==2.1.5
    # via -r /home/odoo/odoo-requirements.txt
freezegun==1.1.0 ; python_version < "3.11"
    # via -r /home/odoo/odoo-requirements.txt
geoip2==2.9.0
    # via -r /home/odoo/odoo-requirements.txt
gevent==21.8.0 ; sys_platform != "win32" and python_version == "3.10"
    # via -r /home/odoo/odoo-requirements.txt
greenlet==1.1.2 ; sys_platform != "win32" and python_version == "3.10"
    # via
    #   -r /home/odoo/odoo-requirements.txt
    #   gevent
idna==2.10 ; python_version < "3.12"
    # via
    #   -r /home/odoo/odoo-requirements.txt
    #   requests
isodate==0.6.1
    # via zeep
jinja2==3.0.3 ; python_version <= "3.10"
    # via -r /home/odoo/odoo-requirements.txt
libsass==0.20.1 ; python_version < "3.11"
    # via -r /home/odoo/odoo-requirements.txt
lxml==4.8.0 ; python_version <= "3.10"
    # via
    #   -r /home/odoo/odoo-requirements.txt
    #   ebaysdk
    #   ofxparse
    #   zeep
markupsafe==2.0.1 ; python_version <= "3.10"
    # via
    #   -r /home/odoo/odoo-requirements.txt
    #   jinja2
maxminddb==2.6.2
    # via geoip2
num2words==0.5.10 ; python_version < "3.12"
    # via -r /home/odoo/odoo-requirements.txt
ofxparse==0.21
    # via -r /home/odoo/odoo-requirements.txt
passlib==1.7.4
    # via -r /home/odoo/odoo-requirements.txt
pillow==9.0.1 ; python_version <= "3.10"
    # via
    #   -r /home/odoo/odoo-requirements.txt
    #   reportlab
platformdirs==4.2.2
    # via zeep
polib==1.1.1
    # via -r /home/odoo/odoo-requirements.txt
psutil==5.9.0 ; python_version <= "3.10"
    # via -r /home/odoo/odoo-requirements.txt
psycopg2==2.9.2 ; python_version == "3.10"
    # via -r /home/odoo/odoo-requirements.txt
pyasn1==0.6.0
    # via
    #   pyasn1-modules
    #   python-ldap
pyasn1-modules==0.4.0
    # via python-ldap
pycparser==2.22
    # via cffi
pydot==1.4.2
    # via -r /home/odoo/odoo-requirements.txt
pyopenssl==21.0.0 ; python_version < "3.12"
    # via -r /home/odoo/odoo-requirements.txt
pyparsing==3.1.4
    # via pydot
pypdf2==1.26.0 ; python_version <= "3.10"
    # via -r /home/odoo/odoo-requirements.txt
pyserial==3.5
    # via -r /home/odoo/odoo-requirements.txt
python-dateutil==2.8.1 ; python_version < "3.11"
    # via
    #   -r /home/odoo/odoo-requirements.txt
    #   freezegun
    #   vobject
python-ldap==3.4.0 ; sys_platform != "win32" and python_version < "3.12"
    # via -r /home/odoo/odoo-requirements.txt
python-stdnum==1.17 ; python_version < "3.11"
    # via -r /home/odoo/odoo-requirements.txt
pytz==2024.1
    # via
    #   -r /home/odoo/odoo-requirements.txt
    #   babel
    #   zeep
pyusb==1.2.1
    # via -r /home/odoo/odoo-requirements.txt
qrcode==7.3.1 ; python_version < "3.11"
    # via -r /home/odoo/odoo-requirements.txt
reportlab==3.6.8 ; python_version <= "3.10"
    # via -r /home/odoo/odoo-requirements.txt
requests==2.25.1 ; python_version < "3.11"
    # via
    #   -r /home/odoo/odoo-requirements.txt
    #   ebaysdk
    #   geoip2
    #   requests-file
    #   requests-toolbelt
    #   zeep
requests-file==2.1.0
    # via zeep
requests-toolbelt==1.0.0
    # via zeep
rjsmin==1.1.0 ; python_version < "3.11"
    # via -r /home/odoo/odoo-requirements.txt
six==1.16.0
    # via
    #   isodate
    #   libsass
    #   ofxparse
    #   pyopenssl
    #   python-dateutil
soupsieve==2.6
    # via beautifulsoup4
urllib3==1.26.5 ; python_version < "3.12"
    # via
    #   -r /home/odoo/odoo-requirements.txt
    #   requests
vobject==0.9.6.1
    # via -r /home/odoo/odoo-requirements.txt
werkzeug==2.0.2 ; python_version <= "3.10"
    # via -r /home/odoo/odoo-requirements.txt
xlrd==1.2.0 ; python_version < "3.12"
    # via -r /home/odoo/odoo-requirements.txt
xlsxwriter==3.0.2 ; python_version < "3.12"
    # via -r /home/odoo/odoo-requirements.txt
xlwt==1.3.0
    # via -r /home/odoo/odoo-requirements.txt
zeep==4.1.0 ; python_version < "3.11"
    # via -r /home/odoo/odoo-requirements.txt
zope-event==5.0
    # via gevent
zope-interface==7.0.3
    # via gevent